<div class="profile">
  <img src="<%= @info[:avatar_url] %>" alt="Whatup" />
  <div class="basic-stats">
    <span id="followers">
      Followers: <%= @info[:followers] %>
    </span>
    <span id="starred">
      Starred: <%= @info[:starred] %>
    </span>
    <span id="following">
      <%= link_to "Following: #{@info[:following]}", following_path %>
    </span>
  </div>
</div>
<div class="commits">
  Contribution Activity
  <% @user.repos.each_pair do |key, value| %>
    <div>Pushed <%= value %> to <%= key %></div>
  <% end %>
</div>
